*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0A0A0A !important;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 9px 0;
}

.hero-background {
    background-image: url(/images/image-12.png);
    -webkit-background-image: url(/images/image-12.png);
    height: 94vh;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-bar {
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.nav-bar-links li{
    list-style: none;
}

ion-icon {
    font-size: 35px;
  }

  .hero-text {
    margin-top: 100px;
    width: 50%;
  }

  .hero-text-lg {
    font-size: 64px;
    padding-right: 40px;
  }

  .hero-text-sm {
    margin-bottom: 100px;
  }

  .feature {
    background-color: #FBFBFB;
  }

  .feature-images{
    background-color: #fff;
  }

  .feature-images img:not(:last-child){
    margin-right: 20px;
  }

  .feature-text {
    font-size: 18px;
    color: #666666;
  }

  .services {
    background-image: linear-gradient(to bottom right, rgba(0,0,0),80%, rgb(97, 147, 207), rgb(19, 34, 86));
  }

  .service {
    width: 32%;
    border: 0.5px solid rgb(12, 157, 218);
    border-radius: 5px;
  }

  .innovation {
    padding-bottom: 100px;
  }

  .innovation-hero{
    font-size: 78px;
    width: 30%;
  }

  .form-input {
    background-color: #F0F0F0;
    color: #A5A5A5;
  }

  .submit-btn {
    margin-left: -6px;
    background-color: #0C9DDA;
  }

  .footer-primary {
    gap: 250px;
  }

  .footer-links a:link{
    text-decoration: none;
    color: white;
  }

  .line {
    width: 1300px;
    height: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #373737;
  }

  .footer-secondary a{
    text-decoration: none;
    color: white;
  }